{erl_opts, [debug_info]}.
{deps, [
    {statman, {git, "git://github.com/karlma/statman.git", {branch, "master"}}}
]
}.

{relx, [{release, {statman_netdata, "0.1.2"},
    [statman_netdata, statman]},
    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true}]}.
